

body {
  font-family: 'Lexend Deca', sans-serif;
  background: #fafafa;
  margin: 0;
}

.header {
  padding-top: 25px;
  text-align: center;
  color: #000;
  font-size: 3.2em;
  display: block;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.calculation {
  margin: 25px;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 4px;
  overflow: hidden;
}


.calcHeader {
  text-align: center;
  font-size: 1.4em;
  color: #fff;
  background-color: #3f51b5;
  padding: 10px;
  margin: 0;
}

.textField {
  width: 350px;
}

.formulaContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
    .formulaBox {
    display: flex;
    align-items: center;
    color: #414141;
    margin-top: 10px;
    .formulaPic {
      height: 70px;
      margin-left: 20px;
    }
  }

  .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.submitBox {
  padding: 0 30px;
  text-align: center;
}

.card {
  width: 100%;
  margin: 20px 0;
}
