body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #c0c0c0;
}

.header {
  text-align: center;
}

.calculation {
  margin: 50px 25px;
  padding: 25px;
  background-color: #c0c0c0;
}

.calcHeader {
  text-align: center;
}

.textField {
  width: 350px;
}

.card {
  width: 50%;
  margin: 25px auto;
}

.formulaContainer {
  display: flex;
  justify-content: space-between;

  .formulaBox {
    display: flex;
    align-items: center;

    .formulaPic {
      height: 70px;
      width: 170px;
      margin-left: 50px;
    }
  }

  .inputBox {
    display: flex;
    flex-direction: column;
  }
}

.submitBox {
  width: 100%;
  text-align: center;
}
